extends ../layout

block content
  h1= title
  p Witaj na  #{title}
  p Jesteś zalogowany jako #{user} 
  p Każda zmiana jaka wprowadzisz będzie podpisana twoim podpisem #{signature}
  p Mozesz teraz dodawać i modyfikowac już istniejące zlecenia !
  //- p
  //-   if grandAdmin===undefined
  //-     p nie mozesz usuwać zlecen 
  //-   else
  //-     p(class='rejestredSucess') możesz usuwać zlecenia Bo jestes Wielkim Adminem
  div 
    p
      label sprawdz oczekujące zlecenia i dodaj je do bazy 
      a(class='notactive linkListowy' href="/add") sprawdz i dodaj
 

