extends layout

block content
  h1= title
  if RejestrationSucess!==''
    p(class='rejestredSucess')=RejestrationSucess
  p Jest to strona główna projektu, każda zmiana będzi przenosiła użytkownika w to miejsce z odpowiednim komunikatem 
  p Aby sie zalogować wybierz 'Logowanie' z menu
  p Tworzenie nowego konta wybierz 'Rejestracja'
  p Aby przejsć do panelu Admina należy zalogować się na swoje konto !
  p Aby przejść do panelu "Zlecenia"  należy się zalogować

